.root {
	position: sticky;
	top: 0;

	overflow-x: auto;
}
.tabs {
	display: flex;
	
	height: 100%;
	padding: 0;
	margin: 0;
	
	list-style: none;
}

.tab {
	display: inline-flex;
	align-items: center;
	justify-content: center;

	height: 100%;
	padding: 10px;
	box-sizing: border-box;

	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
}

.is-selected {
	border-bottom-color: #666666;
	border-bottom-color: var(--strong-text-color);
	color: #666666;
	color: var(--strong-text-color);
}

.is-selected * {
	color: #666666;
	color: var(--strong-text-color);
}

:global(.is-stuck) {
	background-color: var(--header-background-color);
	background-image: var(--header-background-image);
	background-position-y: bottom;

	box-shadow: 0 -10px 40px -14px rgba(0, 0, 0, 0.3);
}

.is-stuck ~ :global(.float-button) {
	box-shadow: inset 0 14px 12px -16px rgba(0, 0, 0, 0.2);
}

/* @media screen and (max-width: 800px) {
	.root {
		position: fixed;

		top: auto;
		bottom: 0;
		left: 0;
		right: 0;
		height: 40px;

		background-color: #cccccc;
		background-color: var(--header-background-color);
		background-image: var(--header-background-image);
	}

	.is-selected {
		border-bottom-color: transparent;
		border-top-color: #666666;
		border-top-color: var(--action-color);
	}

	.tab {
		font-size: x-small;
		border-top-width: 2px;
		border-bottom-width: 2px;
	}
} */