.root {
	padding: 10px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	box-sizing: border-box;
	
	background: #ffffff;
	background-color: var(--background-color);

}

.button {
	appearance: none;
	width: 100%;
	height: 100%;
	border-radius: 50%;

	background-color: #333333;
	background-color: var(-action-color);
	color: #ffffff;
	color: var(--action-contrast-color);
	border: none;
	outline: none;

	box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.6);
}