.header {
	position: relative;

	background-color: #cccccc;
	background-color: var(--header-background-color);
	background-image: var(--header-background-image);
	color: #333333;
	color: var(--header-text-color);
	z-index: 10;
}

.header-top-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 10px;
	height: 50px;
}

.logo {
	width: 30px;
	height: 30px;
}

.header-content {
	margin: 0 auto;
	padding: 3vmin 3vw;
	max-width: 1300px;
	box-sizing: border-box;
}

.title-section {
	margin-top: 0;
}
.title {
	margin-top: 0;
	margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
	.header-content {
		padding-left: 39px;
		padding-right: 39px;
	}
}
