.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.6);

	z-index: 100;
}

.form-container {
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	max-width: 800px;
	height: 100vh;

	background: #ffffff;
	background: var(--background-color);
	z-index: 101;
}

.form-header {
	display: flex;
	justify-content: space-between;
	padding: 14px 25px;
}

.form-error {
	margin-bottom: 25px;
	padding: 8px 16px;

	color: #D8000C;
    background-color: #FFD2D2;
}

.form-content {
	padding: 25px;
}

.text-input {
	display: block;
	margin-bottom: 2em;
}

.text-input .text-label {
	font-size: small;
}

.text-input input,
.text-input textarea {
	margin-top: 0.5em;
	width: 100%;
	height: 34px;
	box-sizing: border-box;

	text-indent: 10px;

	background: #ffffff;
	background: var(--background-color);
	border: 1px solid #e0e0e0;
	border-color: var(--border-color);
	outline: none;
}

.text-input input:focus,
.text-input textarea:focus {
	border: 1px solid #222222;
	border-color: var(--action-color);
}

.text-input textarea {
	resize: vertical;
	min-height: 100px;
	padding: 10px;
	text-indent: 0;
}

@media screen and (max-width: 800px) {
	.form-container {
		top: 80px;
		height: calc(100vh - 80px);
	}
}