.header {
	min-height: 90px;
	padding-bottom: 40px;
	box-sizing: border-box;
}

.main {
	position: relative;
	padding-top: 3vmin;
	padding-bottom: 3vmin;
	z-index: 0;
}

.main > * > * {
	margin: 0 auto;
	max-width: 1300px;
	padding: 3vmin 3vw;
	box-sizing: border-box;
}

.tab-bar {
	margin-top: -40px;
	height: 40px;
	z-index: 10;
}

.tab-bar > * {
	position: relative;
	margin: 0 auto;
	padding: 0 3vw;
	max-width: 1300px;
	box-sizing: border-box;
}


.main-button {
	position: sticky;
	top: 10px;
	display: block;
	margin-top: -30px;
	margin-left: auto;
	margin-right: 30px;
	z-index: 12;
}

.article:nth-child(even) {
	background-color: #f0f0f0;
	background-color: var(--background-color-darker);
}

@media screen and (min-width: 1300px) {
	.main > * > * {
		padding-left: 39px;
		padding-right: 39px;
	}
	.tab-bar > * {
		padding-left: 39px;
		padding-right: 39px;
	}
}

@media screen and (min-width: 1360px) {
	.main-button {
		margin-right: calc(100% - 1300px - 30px);
	}
}


/* @media screen and (max-width: 800px) {
	.header {
		min-height: auto;
	}
	.tab-bar {
		height: 60px;
	}
	.tab-bar,
	.tab-bar:global(.is-stuck) {
		box-shadow: 0 10px 40px -14px rgba(0, 0, 0, 0.3);
	}
	.main-button {
		position: fixed;
		top: auto;
		bottom: 40px;
		left: 0;
		right: 0;
		margin-left: auto;
		margin-right: auto;

		box-shadow: inset 0 -14px 12px -16px rgba(0, 0, 0, 0.2);
	}
} */