:root {
	--background-color: #f6f6f6;
	--background-color-darker: #f0f0f0;
	--border-color: #e0e0e0;
	--text-color: #666666;
	--strong-text-color: #222222;
	--titles-text-color: cornflowerblue;
	--titles-text-color: #222222;
	--link-color: cornflowerblue;
	--header-background-color: cornflowerblue;
	--header-background-color: #ffffff;
	--header-background-color2: blueviolet;
	--header-background-color3: purple;
	--header-background-image: linear-gradient(45deg, var(--header-background-color), transparent), linear-gradient(125deg, var(--header-background-color3), var(--header-background-color2));
	--header-background-image: none;
	--header-text-color: #666666;
	--action-color: cornflowerblue;
	/* --action-color: #222222; */
	--action-contrast-color: #ffffff;
}

body,
html {
	background: #ffffff;
	background-color: var(--background-color);
	color: #666666;
	color: var(--text-color);
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	  monospace;
}

strong {
	color: var(--strong-text-color);
}

a {
	color: var(--link-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--titles-text-color);
}


button {
	padding: 8px 0;
	background: transparent;
	border: none;
	color: #222222;
	color: var(--strong-text-color);
	outline: none;
	cursor: pointer;
}

button[primary='true'] {
	padding: 8px 10px;
	background: cornflowerblue;
	color: #ffffff;
}
button[primary='true'] * {
	color: #ffffff;
}